.command-button {
    background: #ffffff;
    border-radius: 35px;
    padding: 18px 30px;
    color:#F5170E;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #F5170E;
}

.command-button:hover {
    background: #F5170E;
    color: #ffffff;
}